# Global fallback
* @MahanteshPatil1214

# Frontend (2 Engineers)
/frontend/ @adityam1825

# Django Backend (2 Engineers)
/backend-django/ @sonaji94 @OMKAR-tech-hub

# Java Backend (2 Engineers)
/backend-java/ @MahanteshPatil1214 @MGhiremath0281

# Infrastructure & Docs
/docker-compose.yml @MahanteshPatil1214
/docs/ @MahanteshPatil1214
